<!--
  Generated template for the CameraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Picture Upload</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label class="image-upload-container btn btn-bwm"
      >select image</ion-label
    >
    <ion-input
      type="file"
      accept="image/*"
      capture="camera"
      (change)="sendImage($event)"
      id="fileInput"
    ></ion-input>
    <label for="fileInput" icon-only ion-button>
      <ion-icon name="camera"></ion-icon>
    </label>
    <br />
    <!-- <ion-input type="file" accept="image/*" (change)="sendImage($event)"></ion-input> -->
  </ion-item>
  <button ion-button color="primary" (click)="getLabels()" [hidden]= "processing ==true">OK</button>

  <input
    type="file"
    id="fileLoader"
    #fileLoader
    name="files"
    title="Load File"
    hidden
  />
  <ion-toolbar color="secondary">
    <ion-buttons>
      <button ion-button icon-left (click)="presentActionSheet(fileLoader)">
        <ion-icon name="camera"></ion-icon>Select Image
      </button>
      <button
        ion-button
        icon-left
        (click)="removePic()"
        [disabled]="uploadImage === null"
      >
        <ion-icon name="trash"></ion-icon>Remove
      </button>
    </ion-buttons>
  </ion-toolbar>
  <span *ngIf="uploadImage != null">
    <img id="checkinImage" [src]="uploadImage" (load)="imageLoaded()" />
  </span>
  <span *ngIf="processing">
    <ion-spinner></ion-spinner>
    <h1>Processing...</h1>
  </span>
</ion-content>
