<ion-content>
  <!-- fab placed to the top end -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="../camera">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
 
  <ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (keyup.enter)="ionChange($event)"
  (ionCancel)="onCancel($event)">
</ion-searchbar>
  <!-- <ion-searchbar color="blue" autocomplete="on"  type="text" spellcheck="true" routerLink="../serch"></ion-searchbar> -->
  <ion-icon name="calendar"></ion-icon>
  <ion-list>
    <ion-item>
      <ion-label>prev</ion-label>
      <ion-select placeholder="prev" placeholder="prev" (ionChange)="changeMode($event)">
        <ion-select-option   value="month" >Month</ion-select-option>
        <ion-select-option   value="week">Week</ion-select-option>
        <ion-select-option    value="day">Day</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          {{ viewTitle }}
        </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="today()">Today</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
     
    <ion-content>
     
      <!-- Card for adding a new event -->
      
     
      <ion-row>
        <!-- Move back one screen of the slides -->
        <ion-col size="6" text-left>
          <ion-button fill="clear" (click)="back()">
            <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
     
        <!-- Move forward one screen of the slides -->
        <ion-col size="6" text-right>
          <ion-button fill="clear" (click)="next()">
            <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
     
      <calendar 
      [eventSource]="eventSource" 
      [calendarMode]="calendar.mode" 
      [currentDate]="calendar.currentDate"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)" 
      startHour="6"
      endHour="20"
      step="30"
      startingDayWeek="1">
      </calendar>
     
    </ion-content>